

<div id="fullpage" class="container-fluid col-12">
    <h1>Preamble</h1>
    <h2>We recognize that this country was built on the genocide of native peoples, the ens lavement of Africans, the exploitation of immigrants, and the uncompensated work of women. People who hold vast amounts of wealth and power have acquired it at the sacrifice of others. While we can’t undo the past, we can come to terms with it and in doing so, heal ourselves and save our future. The majority of people want to live in a country where all of over basic needs are met and our rights are protected. It’s time we organize together in a way to gain the power we need to make that happen.</h2>
 
    <!-- <h2>We the People- young, old, straight, gay, black, white, cis, trans, native, immigrant, women, men, poor, rich, disabled, incarcerated, sick, and healthy, demand a Second Bill of Rights that states:</h2> -->
    <h1>Second Bill of Rights:</h1>
    <h2>Money isn't speech and every person (not corporation), regardless of gender identity, race, sexual orientation, ability, religion or lack thereof, or ability has a right to:</h2>
        <p>Full Body Healthcare</p>
        <p>Adequate Housing</p>
        <p>Freedom from Poverty</p>
        <p>Full employment with a Living Wage</p>
        <p>Quality Education, Prek-grad school, including Technical, and access to a free and open internet with internet neutrality</p>
        <p>Bodily Autonomy</p>
        <p>Restorative Justice and Rehabilitation</p>
        <p>Freedom from Incarceration Solely as a Punishment
        <p>Clean Air, Water, and Healthy Food</p>
        <p>Sustainability of the Environment and Protection of the Commons</p>
        <p>Freedom from Interference with Privacy, Family, Home and Correspondence</p>
        <p>Freely assemble, Organize, Unionize, and Strike </p> 
        <p>Political and Economic Democracy, Equality, and Transparency</p>
        <p>And We as a Country Recognize that Treaties with Native Peoples Must be Honored.</p>


    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZ6JHdg-AYMHOwZtdXzOHW_765P8C-S5Q3_cR242FzYBU8Ug/viewform"><h3>Join the Coalition</h3></a>
</div>    
