<h1>Money isn't speech and every person (not corporation), regardless of gender identity, race, sexual orientation, ability, religion or lack thereof, or ability has a right to:</h1>
<p>Full Body Healthcare</p>
<p>Adequate Housing</p>
<p>Freedom from Poverty</p>
<p>Full employment with a Living Wage</p>
<p>Quality Education, Prek-grad, including Technical, Grad, and access to the internet</p>
<p>Bodily Autonomy</p>
<p>Restorative Justice and Rehabilitation</p>
<p>Freedom from Incarceration solely as a Punishment
<p>Clean Air, Water, and Healthy Food</p>
<p>Sustainability of the Environment and Protection of the Commons</p>
<p>Internet Neutrality</p>
<p>Freedom from Interference with Privacy, Family, Home and Correspondence</p>
<p>Freely assemble, organize, and unionize </p> 
<p>Political and Economic Democracy, Equality, and Transparency</p>
<p>And we as a country recognize that treaties with native peoples must be honored.</p>


<a href="https://docs.google.com/forms/d/e/1FAIpQLSeZ6JHdg-AYMHOwZtdXzOHW_765P8C-S5Q3_cR242FzYBU8Ug/viewform"><H3>Join the Coalition</h3></a>